.app-container {
    display: flex;
    height: 100%;
    align-content: stretch;
}
.divContent{
    flex-grow: 1;
}
.content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-content: stretch;
}
.no-gutter > [class*='col-'] {
    padding-right:0px;
    padding-left:0px;
}
.MouseHover:hover{
    cursor: pointer;
}